<div class="authentication-options-grid">
  <div class="card">
    <h2>Job Seekers</h2>
    <p>Looking for jobs?</p>
    <%= link_to "Sign up", signup_path %><br>
    <%= link_to "Sign in", login_path %>
  </div>

  <div class="card">
    <h2>Recruiters</h2>
    <p>Hiring talent?</p>
    <%= link_to "Sign up", new_recruiter_registration_path %><br>
    <%= link_to "Sign in", new_recruiter_session_path %>
  </div>
</div>