<div class="job-offer">
  <% if defined?(show_full_details) && show_full_details %>
    <%= render 'job_offers/full_details', job_offer: job_offer %>
  <% else %>
    <%= render 'job_offers/summary', job_offer: job_offer %>
  <% end %>
</div>
