<% if job_offer.salary_min || job_offer.salary_max %>
  <div class="info-item">
    <label>Salary Range</label>
    <span style="font-size: 1.25rem; color: var(--primary-color);">
      <%= number_to_currency(job_offer.salary_min, precision: 0) if job_offer.salary_min %>
      <%= " - " if job_offer.salary_min && job_offer.salary_max %>
      <%= number_to_currency(job_offer.salary_max, precision: 0) if job_offer.salary_max %>
    </span>
  </div>
<% end %>
