<div class="job-offers">
  <h1>Job Offers</h1>

  <% if @job_offers.any? %>
    <div class="job-offers-list">
      <% @job_offers.each do |job_offer| %>
        <%= render partial: "job_offer", locals: { job_offer: job_offer, show_full_details: false } %>
      <% end %>
    </div>
  <% else %>
    <p>No job offers available yet.</p>
  <% end %>
</div>
