<div class="recruiter-info">
  <% if recruiter.super_recruiter? %>
    <div class="super-recruiter-badge">Super Recruiter</div>
  <% end %>

  <div class="info-grid">
    <div class="info-item">
      <strong>Company:</strong>
      <%= link_to recruiter.company.name, company_path(recruiter.company) %>
    </div>

    <div class="info-item">
      <strong>Email:</strong> <%= recruiter.email %>
    </div>
  </div>
</div>