<div class="personal-actions">
  <%= link_to "Create New Job Offer", new_job_offer_path, class: "btn btn-primary" %>
  <%= link_to "Edit My Profile", edit_recruiter_registration_path, class: "btn btn-secondary" %>
</div>